<ion-header>
  <ion-toolbar>
    <ion-title>registro_usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="usuario._nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="usuario._email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Teléfono</ion-label>
    <ion-input [(ngModel)]="usuario._telefono"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="usuario._password"></ion-input>
  </ion-item>

  <ion-button color="primary" (click)='registrar_usuario()' class="botonRegistro">Registrarte</ion-button>
</ion-content>
