
.divRegistro {
    margin: 15px 10px 15px 10px;
}

.botonRegistro {
    margin: 15px 0px 15px 0px;
    display: block;
    text-align: center !important;
}

.icono_contacto {
    font-size: 80px;
    margin-top: 10px;
}