<ion-header>
  <ion-toolbar class="barra_superior">
      <ion-item lines="none" class="barra_superior">
          <ion-title>Detalle</ion-title>
        <ion-button *ngIf="!token.valido" expand="block" fill="outline" item-right (click)='irAPaginaLogin()' class="boton_login_toolbar">Iniciar Sesión</ion-button>  
        <ion-icon name="contact" size="large" *ngIf="token.valido" expand="block" fill="outline" item-right (click)='mostrarMenuUsuario()'></ion-icon>  
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-scroll scrollX="true"> -->
    <div class="divDetalle">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{horario.codigo}}
          </ion-card-title>
          <ion-list>
            <ion-item>
              
              <p>Hora de salida: {{horario.horaSalida}}</p>
            </ion-item>
            
            <ion-item>
                
                <p>Hora de llegada: {{horario.horaLlegada}}</p>
            </ion-item>
            
            <ion-item>
                
                <p>Operador: {{horario.operadores}}</p>
            </ion-item>
  
            <ion-item>
                
                <p>Precio billete sencillo: {{horario.precio_billete_sencillo}}</p>
            </ion-item>
            
            <ion-item>
                
              <p>Precio billete sencillo: {{horario.linea.pmr}}</p>
          </ion-item>
  
          </ion-list>
          
          
  
        </ion-card-content>
      </ion-card>
    </div>

    <div class="mapDiv">
      <div id="map" style="width: 100%; height: 100%;"></div>
    </div>
    
    <ion-fab vertical="center" horizontal="end" edge slot="fixed">
      <ion-fab-button (click)='addFavoritos()' *ngIf="!rutaFavorita">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)='borrarHorarioFavorito()' *ngIf="rutaFavorita">
          <ion-icon name="heart"></ion-icon>
        </ion-fab-button>
    </ion-fab>
  <!-- </ion-scroll> -->
  
</ion-content>
