<ion-header>
  <ion-toolbar class="barra_superior">
      <ion-item lines="none" class="barra_superior">
        <ion-title>Rutas favoritas</ion-title>
        <ion-button *ngIf="!token.valido" expand="block" fill="outline" item-right (click)='irAPaginaLogin()' class="boton_login_toolbar">Iniciar Sesión</ion-button>  
        <ion-icon name="contact" size="large" *ngIf="token.valido" expand="block" fill="outline" item-right (click)='mostrarMenuUsuario()'></ion-icon>  
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let horario of listaHorarios" (click)='irDetalleRuta(horario)'>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label>{{horario.origen}} - {{horario.destino}}</ion-label>
          <ion-label>
            {{horario.hora_salida}}
            <br>
            {{horario.hora_llegada}}
            <br>
          </ion-label>
        </ion-item>
        <ion-item><ion-label>{{horario.operadores}}<br>{{horario.precio_billete_sencillo | number : '1.2-2'}} €</ion-label></ion-item>
      </ion-card-content>
    </ion-card>
</ion-content>
