.botonLogin {
    margin: 15px 0px 15px 0px;
    display: block;
    text-align: center !important;
}

.boton_crear_cuenta {
    vertical-align: sub;
    margin: 10px 0px 10px 0px;

}

.icono_contacto {
    font-size: 80px;
    margin-top: 10px;
}

.div_login {
    margin: 15px 10px 15px 10px;
}