<ion-header>
  <ion-toolbar class="barra_superior">
      <ion-item lines="none" class="barra_superior">
        <ion-title>Paradas cercanas</ion-title>
        <ion-button *ngIf="!token.valido" expand="block" fill="outline" item-right (click)='irAPaginaLogin()' class="boton_login_toolbar">Iniciar Sesión</ion-button>  
        <ion-icon name="contact" size="large" *ngIf="token.valido" expand="block" fill="outline" item-right (click)='mostrarMenuUsuario()'></ion-icon>  
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" class="map"></div>
</ion-content>
