<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title>verRutas</ion-title>
      <ion-button expand="block" fill="outline" item-right (click)='irAPaginaLogin()'>Iniciar Sesión</ion-button>  
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Origen</ion-label>
    <ion-select  okText="Aceptar" cancelText="Cancelar" [(ngModel)]="origen">
      <ion-select-option *ngFor="let nucleo of nucleos" value="{{nucleo.nombre}}">{{nucleo.nombre}}</ion-select-option>  
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Destino</ion-label>
    <ion-select  okText="Aceptar" cancelText="Cancelar" [(ngModel)]="destino">
      <ion-select-option *ngFor="let nucleo of nucleos" value="{{nucleo.nombre}}">{{nucleo.nombre}}</ion-select-option>  
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime
      [(ngModel)]="fecha_seleccionada"
      doneText="Aceptar"
      cancelText="Cancelar" 
      pickerFormat="DDD DD MMMM" 
      display-format="DDDD DD de MMMM"
      day-names="Domingo, Lunes, Martes, Miércoles, Jueves, Viernes, Sábado"
      month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Adaptado a personas con movilidad reducida</ion-label>
    <ion-toggle [(ngModel)]="adaptado_movilidad_reducida" (ionChange)="toggle_pmr_cambiado($event)"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Hora de salida</ion-label>
    <ion-datetime [(ngModel)]="hora_filtro" displayFormat="HH:mm" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
  </ion-item>
  

  <ion-button (click)="buscarRutas()" color="primary">Buscar</ion-button>
  <ng-template [ngIf]="modo_autobus">
    <ion-card *ngFor="let horario of lista_horarios_final" (click)='irDetalleRuta(horario)'>
    <!-- <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header> -->

      <ion-card-content>
        <ion-item lines="none">
          <ion-label>{{origen}} - {{destino}}</ion-label>
          <ion-label>
            {{horario.horaSalida}}
            <br>
            {{horario.horaLlegada}}
            <br>
          </ion-label>
        </ion-item>
        <ion-item><ion-label>{{horario.operadores}}<br>{{horario.precio_billete_sencillo | number : '1.2-2'}} €</ion-label></ion-item>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>